apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: bank-agents
  namespace: argocd
spec:
  destination:
    namespace: kagent
    server: https://kubernetes.default.svc
  project: default
  source:
    repoURL: https://github.com/ProfessorSeb/bank-agent.git
    targetRevision: main
    path: k8s/agents
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
